<link cache-control="max-age=86400" as="style" type="text/css" rel="preload" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/fuentes.min.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/style.min.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/formulario.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-courses.min.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-op-typcall.min.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-op-typinfo.min.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-cxo-typinfo.min.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-cxo-typcall.min.css">