<!DOCTYPE html>
<html lang="es-ES">
<head>
    <!-- TITLE -->
    <title> Gracias por tu interés | Programa en Alta Dirección: Global CEO | ITAM</title>
    <meta id="data-programs" data-codga="gco" data-state="a" data-lang="es" data-typ="typ" data-form="efbd02b3-f692-45c2-988b-ab23b203874a">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/assets/img/iconos/cropped-favicon.png" sizes="192x192">
    <!-- START META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="ITAM Digital ExEd">
    <!--Cambiar color del tema en mobile-->
    <meta name="theme-color" content="#011F5B">
    <!-- **Description** -->
    <meta name="description" content="ITAM Digital ExEd">
    <!-- END META -->
    <!-- START ESTILOS Y FUENTES -->
    <!-- **Bootstrap** -->
    <link cache-control="max-age=86400" as="style" type="text/css" rel="preload" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/fuentes.min.css">
    <link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <!-- **style nueva landing** -->
    <link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/style.min.css">
    <style>
        #section-img-typ img {
            object-fit: cover;
            height: 25rem;
            width: 100%;
        }

        .caja-typ {
            border-radius: 5px;
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
        }

        @media screen and (min-width:992px) {
            .content-text-typ {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                display: flex;
                align-items: center;
            }

            #section-img-typ img {
                object-fit: cover;
                height: 74vh;
                width: 100%;
                object-position: center;
            }
        }
    </style>
    <!-- END ESTILOS Y FUENTES -->
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PDRHP9N');</script>
    <!-- End Google Tag Manager -->
    <script defer id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="c250b5a8-4dc0-4644-9750-f0ab2ebad3a8" data-culture="ES" data-blockingmode="auto" type="text/javascript"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDRHP9N" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- START SECTION BARRA NAVEGACIÓN -->
    <header class="bg-primary position-sticky top-0 z-index-100">
        <div class="container-fluid">
            <div class="row row-cols-1 text-center">
                <div class="col py-3">
                    <img src="/assets/img/logos/ITAM.svg" alt="ITAM Digital ExEd" class="logo-white" width="270" height="auto">
                </div>
            </div>
        </div>
    </header>
    <!-- END SECTION BARRA NAVEGACIÓN -->
    <main class="position-relative">
        <section id="section-img-typ" class="bg-grey">
            <div class="row content-typ-img">
                <div class="bg-grey col-12 col-lg-5"></div>
                <div class="col-12 col-lg-7">
                    <img src="/assets/img/cxo/gco/ordenadores-typ.webp" alt="">
                </div>
            </div>
        </section>
        <section id="section-text-typ" class="content-text-typ">
            <div class="container">
                <!-- <div class="row content-typ content-typ-info"> -->
                <div class="row content-typ-info"></div>
                <div class="col-12 col-lg-8 py-4">
                    <div class="px-3 py-5 p-md-5 caja-typ bg-white">
                        <h3>Gracias por tu interés en nuestro Programa en Alta Dirección:</h3>
                        <h1 id="data-program"></h1>
                        <h2 id="data-subtitle"></h2>
                        <p id="data-claim"></p>
                        <p>Enseguida uno de nuestros asesores académicos se pondrá en contacto contigo para atenderte personalmente y resolver cualquier duda.</p>
                        <div class="row">
                            <div class="container-fluid d-flex flex-column flex-lg-row gap-3">
                                <a id="clickcall" target="_blank" class="p-3 btn btn-primary clickcall" role="button">Agendar llamada</a>
                                <a id="clickbrochure" target="_blank" class="p-3 btn btn-primary-line clickbrochure" role="button">Descarga folleto</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4"></div>
            </div>
            </div>
        </section>
    </main>
    <!-- START SECTION FOOTER -->
    <footer class="bg-primary text-white">
        <div class="container-fluid px-3 px-lg-4">
            <div class="row px-0 px-lg-5 py-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-center">
                    <img srcset="/assets/img/logos/ITAM.svg" alt="" width="270" height="auto">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
                    <p class="text-center text-lg-end"><span id="copyright"></span>Ⓒ 2024 Todos los derechos reservados<br />ITAM Digital ExEd </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END SECTION FOOTER -->
    <!-- START SECTION SCRIPTS -->
    <!-- ** Cambia formato webp por jpg  [safari] ** -->
    <script defer type="text/javascript" src="/assets/js/browser-detected.min.js"></script>
    <!-- ** Lazyload [retardo de imágenes en pantalla] ** -->
    <script defer type="text/javascript" src="/assets/js/lazyload.min.js"></script>
    <!-- ** retorna fecha en string / traducida ** -->
    <script defer type="text/javascript" src="/assets/js/return-date-string.min.js"></script>
    <!-- ** retorna los datos del productos filtrados ** -->
    <script defer type="text/javascript" src="/assets/js/product-returns.min.js"></script>
    <!-- ** rellena la información del producto ** -->
    <script defer type="text/javascript" src="/assets/js/product-information.min.js"></script>
</body>
</html>