<!DOCTYPE html>
<html class="no-js" lang="es-ES">
<head>
    <!-- TITLE -->
    <title>Política de Cookies | ITAM Digital ExEd</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/assets/img/iconos/cropped-favicon.png" sizes="192x192">
    <!-- START META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="ITAM Digital ExEd">
    <!--Cambiar color del tema en mobile-->
    <meta name="theme-color" content="#005030">
    <!-- **Description** -->
    <meta name="description" content="ITAM Digital ExEd">
    <!-- END META -->
    <!-- START ESTILOS Y FUENTES -->
    <!-- **Bootstrap** -->
    <link cache-control="max-age=86400" as="style" type="text/css" rel="preload" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/fuentes.min.css">
    <link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <!-- **style nueva landing** -->
    <link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/style.min.css">
    <!-- <link rel="stylesheet" href="../assets/css/style-politicas.css"> -->
    <!-- END ESTILOS Y FUENTES -->
    <!-- START SCRIPTS -->
    <!-- **Font-awesome icon script** -->
    <script defer async src="https://kit.fontawesome.com/25b8756515.js" crossorigin="anonymous"></script>
    <!--**Animación para desplegable**-->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PDRHP9N');</script>
    <!-- End Google Tag Manager -->
    <script defer id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="c250b5a8-4dc0-4644-9750-f0ab2ebad3a8" data-culture="ES" data-blockingmode="auto" type="text/javascript"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDRHP9N" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- START SECTION BARRA NAVEGACIÓN -->
    <header class="bg-griscla">
        <!-- START SECTION NAV -->
        <nav class="navbar pt-2 pb-2">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img srcset="/assets/img/logos/ITAM.svg" class="logo" alt="ITAM Digital ExEd" width="200px" height="auto">
                </a>
            </div>
        </nav>
        <!-- END SECTION NAV -->
    </header>
    <!-- END SECTION BARRA NAVEGACIÓN -->
    <main>
        <section id="" class="pt-5 pb-5">
            <div class="container">
                <div class="row text-center">
                    <h1>POLÍTICA DE COOKIES</h1>
                </div>
            </div>
        </section>
        <section id="" class="pt-5 pb-5 bg-griscla">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <h2 class="p-0">INTRODUCCIÓN</h2>
                    </div>
                    <div class="col-12 col-lg-9">
                        <p>Esta Política de Cookies explica qué son las Cookies y cómo las utilizamos Nosotros. Tu deberías leer esta política para que comprendas el tipo de cookies que Nosotros utilizamos, la información que Nosotros recopilamos mediante estas Cookies y el uso que hacemos de dicha información.</p>
                        <p>Las Cookies no suelen contener ninguna información que identifique personalmente al usuario, pero la información personal que almacenamos sobre Ti puede estar vinculada a la información que se almacena y obtiene a partir de las Cookies. Para obtener más información sobre cómo Nosotros utilizamos, almacenamos y mantenemos seguros tus datos personales, consulta nuestra Política de Privacidad.</p>
                        <p>No almacenamos información personal confidencial, como direcciones de correo, contraseñas, etc. en las Cookies que Nosotros utilizamos.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="" class="pt-5 pb-5 ">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <h2 class="p-0">INTERPRETACIÓN Y DEFINICIONES</h2>
                    </div>
                    <div class="col-12 col-lg-9">
                        <h3>Interpretación</h3>
                        <p>Las palabras cuya letra inicial está en mayúscula tienen significados específicos que se definen en esta Política. Las siguientes definiciones tendrán el mismo significado, independientemente de que aparezcan en singular o en plural.</p>
                        <h3>Definiciones</h3>
                        <p>A los efectos de la presente Política de Cookies:</p>
                        <ul>
                            <li>La Empresa (con sus variantes “la Compañía”, “Nosotros”, “Nuestro” o “Nos”, que aparecen en esta Política de cookies) hace referencia a Global Alumni, Corp., con domicilio físico en 7950 NW 53rd St Miami, FL 33166.</li>
                            <li>Las Cookies hacen referencia a pequeños archivos que se colocan en Tu ordenador, dispositivo móvil o cualquier otro dispositivo a través de una página web y que contienen información sobre tu historial de navegación relativo a ese Sitio Web.</li>
                            <li>El Sitio Web se refiere tanto a la página web de la Empresa, a la que se puede acceder desde https://globalalumni.org y https://pablorivas.es, como a cualquier página web gestionada por esta como proveedora de servicios para, y en nombre de, determinadas universidades y centros de formación continua y profesional y alojada en la Empresa o gestionada a través de dichas instituciones.</li>
                            <li>Tú (con variantes de “Te” y “Ti”) alude a la persona que accede o utiliza el Sitio Web, o una empresa o cualquier persona jurídica en cuyo nombre se accede o utiliza el Sitio Web, según corresponda.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="" class="pt-5 pb-5 bg-griscla">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <h2 class="p-0">USO DE LAS COOKIES</h2>
                    </div>
                    <div class="col-12 col-lg-9">
                        <script id="CookieDeclaration" data-culture="ES" src="https://consent.cookiebot.com/c250b5a8-4dc0-4644-9750-f0ab2ebad3a8/cd.js" type="text/javascript" async></script>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- START SECTION FOOTER -->
    <footer class="bg-primary text-white">
        <div class="container-fluid px-3 px-lg-4">
            <div class="row px-0 px-lg-5 py-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-center">
                    <img srcset="/assets/img/logos/ITAM.svg" alt="" width="170" height="auto">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
                    <p class="text-center text-lg-end"><span id="copyright"></span>Todos los derechos reservados.<br /> ITAM Digital ExEd. </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END SECTION FOOTER -->
    <!-- START SECCIÓN SCROLL UP -->
    <a class="scroll-top-arrow oculto"><i class="fas fa-angles-up"></i></a>
    <!-- END SECCIÓN SCROLL UP  -->
    <!-- START SECTION SCRIPTS -->
    <!-- **Bootstrap** -->
    <script defer src="/assets/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <!-- **Animaciones** -->
    <script defer type="text/javascript" src="/assets/js/wow.min.js"></script>
    <!-- ** scrooll por anclas** -->
    <script defer type="text/javascript" src="/assets/js/scrolls.min.js"></script>
    <!-- ** generales ** -->
    <!-- <script defer type="text/javascript" src="/assets/js/main.min.js"></script> -->
    <!-- **Copyright** -->
    <script defer type="text/javascript" src="/assets/js/copyrigth.min.js"></script>
    <!-- ** Lazyload ** -->
    <script defer type="text/javascript" src="/assets/js/lazyload.min.js"></script>
    <!-- END SECTION SCRIPTS -->
</body>
</html>