<!DOCTYPE html>
<html class="no-js" lang="es-ES">
<head>
    <!-- TITLE -->
    <title>Gracias - Programa Online Comunicación Asertiva y Persuasiva | ITAM Digital ExEd</title>
    <meta id="data-programs" data-codga="cap" data-state="a" data-lang="es">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/assets/img/iconos/cropped-favicon.png" sizes="192x192">
    <!-- START META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=5" />
    <meta name="author" content="ITAM Digital ExEd">
    <!--Cambiar color del tema en mobile-->
    <meta name="theme-color" content="#006853">
    <!-- **Description** -->
    <meta name="description" content="ITAM Digital ExEd">
    <!-- START META SEO -->
    <!-- **Meta idioma** -->
    <meta property="og:locale" content="es_ES">
    <!-- **Meta title** -->
    <meta property="og:title" content="Programa Online Comunicación Asertiva y Persuasiva | ITAM Digital ExEd" />
    <!-- **Meta description** -->
    <meta property="og:description" content="" />
    <!-- **Meta site name** -->
    <meta property="og:site_name" content="ITAM Digital ExEd" />
    <!-- **Meta url** -->
    <meta id="url_fb" property="og:url" content="">
    <!-- **Meta imagen destacada web** -->
    <meta property="og:image" content="/assets/img/op/cap/comunicacion-asertiva-persuasiva-cap-1200x660.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="660" />
    <!-- **Meta Twitter** -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="/assets/img/op/cap/comunicacion-asertiva-persuasiva-cap-1200x660.jpg" />
    <meta name="twitter:label1" content="" />
    <meta name="twitter:data1" content="" />
    <meta name="twitter:site" content="">
    <!--Colocar el user con @ de twitter-->
    <meta name="twitter:creator" content="">
    <!--Colocar el user con @ de twitter-->
    <!-- **Meta Facebook** -->
    <meta property="og:image:secure_url" content="/assets/img/op/cap/comunicacion-asertiva-persuasiva-cap-1200x660.jpg">
    <meta property="og:type" content="website">
    <!--<meta property="fb:app_id" content="928977633900253" /> Colocar el id de la app de FB de la marca-->
    <!-- <meta name="facebook-domain-verification" content="8v53s882p487myi5f1ldqi74cb7yle" /> -->
    <meta name="robots" content="noindex">
    <style>
        .bg-img-cabecera {
            background-position: center;
            background-image: linear-gradient(287.22deg, rgba(0, 0, 0, 0) 45.23%, rgba(0, 0, 0, 0.5) 62.92%), url('/assets/img/general/Footer-ITAM.webp');
        }

        .bg-img-cabecera.typ .bold {
            font-size: 24px;
            line-height: 30px;
        }

        header .btn btn-third:hover {
            background-color: var(--third);
        }
    </style>
    <link cache-control="max-age=86400" as="style" type="text/css" rel="preload" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/fuentes.min.css">
    <<<<<<< HEAD <link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/dist/css/bootstrap.min.css"> =======
        <link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/bootstrap-5.0.2-dist/css/bootstrap.min.css"> >>>>>>> main
        <link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/style.min.css">
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.defer = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-PDRHP9N');</script>
        <!-- End Google Tag Manager -->
        <script defer id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="c250b5a8-4dc0-4644-9750-f0ab2ebad3a8" data-culture="ES" data-blockingmode="auto" type="text/javascript"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDRHP9N" class="d-none invisible" height="0" width="0"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- START SECTION BARRA NAVEGACIÓN -->
    <header class="bg-primary position-sticky top-0 header-op">
        <!-- START SECTION NAV -->
        <nav class="nav-menu navbar py-4 text-white">
            <div class="container-fluid col-12 d-flex justify-content-between">
                <img srcset="/assets/img/logos/ITAM.svg" alt="" class="logo-white" width="220px" height="auto">
                <a href="https://itamdigitalexed.org/gateway/es/usd/169" class="px-5 py-3 btn btn-third text-tf-none d-none d-md-block clickadmi" role="button">Inscríbete</a>
            </div>
        </nav>
        <!-- END SECTION NAV -->
    </header>
    <!-- END SECTION BARRA NAVEGACIÓN -->
    <!-------------- START CONTENT -------------->
    <main>
        <!-- <section class="bg-secundary ">
            <div class="d-flex justify-content-center">
                <span class=" text-white py-1"> Promociones | Info </span>
            </div> 
        </section> -->
        <section class="bg-img-cabecera typ">
            <div class="container">
                <div class="row row-cols-12 row-cols-lg-2 pt-5">
                    <div class="pt-5 px-4 ps-lg-0 pe-lg-5 text-white">
                        <h2 class="pt-2 pt-lg-5 text-tf-none mb-2" style="line-height: 45px;">Gracias por interesarte en nuestra formación en Comunicación Asertiva y Persuasión. </h2>
                        <p class="bold pt-2 pt-lg-2">Te acabamos de enviar el folleto a tu email. Revisa tu bandeja de entrada o spam.</p>
                        <div class="d-flex flex-row pt-3">
                            <a href="https://3391024.fs1.hubspotusercontent-na1.net/hubfs/3391024/ITAM/Folletos/ITAM-Folleto-CAP.pdf" class="px-2 py-2 btn btn-third clickbrochure" target="_blank" role="button">Descargar brochure</a>
                        </div>
                    </div>
                    <div class="pt-5 pt-lg-none">
                        <h3 class="text-center text-white text-tf-none">Agenda una llamada con un asesor comercial</h3>
                        <!-- Start of Meetings Embed Script -->
                        <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/marketing-itam/ita-cap-esp?embed=true"></div>
                        <script type="text/javascript" defer src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
                        <!-- End of Meetings Embed Script -->
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row d-flex justify-content-between my-5">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center"><img src="/assets/img/general/equis-acredited.svg" alt="" width="200" height="100"></div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center"><img src="/assets/img/general/aacsb-acredited.svg" alt="" width="200" height="100"></div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center"><img src="/assets/img/general/amba-acredited.svg" alt="" width="200" height="100"></div>
            </div>
        </section>
    </main>
    <!--------------  END CONTENT  -------------->
    <!-- START SECTION FOOTER -->
    <footer class="bg-primary text-white">
        <div class="container-fluid px-3 px-lg-4">
            <div class="row px-0 px-lg-5 py-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-center">
                    <img srcset="/assets/img/logos/ITAM.svg" alt="logo ITAM" class="logo-white" width="300px" height="112px">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
                    <p class="text-center text-lg-end"><span id="copyright"></span>Todos los derechos reservados<br />ITAM Digital ExEd </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END SECTION FOOTER -->
    <!-- START SECTION SCRIPTS -->
    <!--**jquery local**-->
    <script defer src="/assets/js/jquery-360.min.js"></script>
    <!-- **Desplegable** -->
    <script defer type="text/javascript" src="/assets/js/desplegable.min.js"></script>
    <!-- **Scrooll por anclas** -->
    <script defer type="text/javascript" src="/assets/js/scrolls.min.js"></script>
    <!-- **generales** -->
    <!-- <script defer type="text/javascript" src="/assets/js/main.min.js"></script> -->
    <!-- **copyright** -->
    <script defer type="text/javascript" src="/assets/js/copyrigth.min.js"></script>
    <!-- **Click - Popup** -->
    <script defer type="text/javascript" src="/assets/js/click-to-form-info.min.js"></script>
    <!-- ** Cambia formato webp por jpg  [safari] ** -->
    <script defer type="text/javascript" src="/assets/js/browser-detected.min.js"></script>
    <!-- ** Lazyload [retardo de imágenes en pantalla] ** -->
    <script defer type="text/javascript" src="/assets/js/lazyload.min.js"></script>
    <!-- ** retorna fecha en string / traducida ** -->
    <script defer type="text/javascript" src="/assets/js/return-date-string.min.js"></script>
    <!-- ** retorna los datos del productos filtrados ** -->
    <script defer type="text/javascript" src="/assets/js/product-returns.min.js"></script>
    <!-- ** rellena la información del producto ** -->
    <script defer type="text/javascript" src="/assets/js/product-information.min.js"></script>
</body>
</html>