/* START SECTION FORM 
/***************************************************/
#section-form-responsive {
    background-color: var(--griscla);
}

#section-form {
    display: none;
    margin: auto;
}

.contact-form {
    width: 100%;
}

.contact-form fieldset {
    max-width: 100% !important;
    width: 100% !important;
}

.contact-form h5 {
    padding-top: 45px;
}

.contact-form-info,
.contact-form-admi {
    padding: 4% 5%;
    background: white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.contact-form-info {
    max-width: 30rem;
    min-height: 490px;
}

.contact-form-info #close-form {
    position: absolute;
    top: 5px;
    right: 10px;
}

.contact-form-info #close-form i {
    font-size: 20px;
    color: var(--primary);
    transition: all 200ms;
}

.contact-form-info #close-form:hover i {
    transform: rotate(90deg) scale(1.2);
    transition: all 200ms;
}

.contact-form form .hs-input {
    width: 100% !important;
}

.contact-form form input,
.contact-form form textarea,
.contact-form form select {
    width: 100% !important;
    border: 1px solid var(--grisoscuro);
    background-color: transparent;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0px 5px;
}

.hs-fieldtype-intl-phone {
    margin-bottom: 20px;
}

@media (max-width: 991px) {

    .contact-form form input,
    .contact-form form textarea,
    .contact-form form select {
        padding: 5px 5px;
        margin-bottom: 10px !important;
    }
}

.contact-form form select {
    color: var(--gri);
}

.contact-form form input,
.contact-form form textarea {
    color: #707070;
}

.contact-form form select {
    background-image: none;
    appearance: none;
    background-image: url('../img/iconos/icon-arrow-down.svg');
    background-position: calc(100% - 2px) center;
    background-repeat: no-repeat;
}

.contact-form form select option {
    font-family: 'Gotham';
    font-size: 14px !important;
    color: var(--black);
}

.contact-form form ul,
.contact-form form .hs-form-field>label>span {
    font-size: 11px;
    list-style: none;
    padding-left: 0;
}

.contact-form form ul.hs-error-msgs {
    margin-bottom: 0;
}

.contact-form form .hs-error-msgs li label {
    color: red;
}

.contact-form form .hs-form-booleancheckbox-display {
    display: flex;
    align-items: flex-start;
}

.contact-form form .hs-form-booleancheckbox-display input[type="checkbox"] {
    width: auto !important;
    margin-top: 4px;
}

form li label>span {
    padding-left: 18px;
}

.contact-form form .hs-form-booleancheckbox-display span {
    margin-left: 0px !important;
    font-size: 1px;
    line-height: 18px;
}

.contact-form form .legal-consent-container ul {
    margin-bottom: 5px;
}

.contact-form form .legal-consent-container p,
.contact-form form .hs-form-booleancheckbox-display span {
    font-size: 12px;
    line-height: 20px;
}

.contact-form form .legal-consent-container a {
    color: var(--primary);
    /* font-family: 'Gotham'; */
    text-decoration: underline;
}

.contact-form form .legal-consent-container a:hover {
    text-decoration: none;
}

.contact-form form .hs_submit input[type="submit"] {
    background-color: var(--primary);
    color: var(--white);
    /* border-radius: 2px; */
    border: 2px solid var(--primary);
    text-align: center;
    transition: all 200ms ease-in;
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'dinprobold';
    text-transform: uppercase;
    padding: 1rem;
}

.contact-form form .hs_submit input[type="submit"]:hover {
    background-color: var(--third);
    border: 2px solid var(--third);
    color: var(--white);
    transition: all 200ms ease-in;
}

.contact-form form input:focus-visible {
    outline: none;
}

.hs_aceptaci_n_politica_de_devolucion.hs-aceptaci_n_politica_de_devolucion.hs-fieldtype-booleancheckbox {
    padding-top: 30px !important;
}

.hs_sponsored.hs-sponsored.hs-fieldtype-booleancheckbox.field.hs-form-field {
    margin-bottom: -27px;
    padding-top: 15px;
}

.contact-form .hs-fieldtype-intl-phone.hs-input select {
    float: left;
    width: 49% !important;
}

.contact-form .hs-fieldtype-intl-phone.hs-input input {
    width: 50% !important;
    float: right;
}

.contact-form-info p {
    margin-bottom: 0px;
}

/*espacio entre los campos*/
label {
    display: inline;
}
select[name="years_of_work_experience"],
input[name="email"],
input[name="firstname"],
input[name="lastname"] {
    margin-top: 10px;
}


.hs-richtext {
    display: none;
}

button, input, optgroup, select, textarea, label {
    line-height: inherit;
}


@media (max-width: 576px) {
    .contact-form-info {
        margin-top: 0;
    }
}

/* END SECTION FORM RESPONSIVE */

@media screen and (min-width: 768px) {
    .contact-form .hs-fieldtype-intl-phone.hs-input select {
        float: left;
        width: 30% !important;
    }

    .contact-form .hs-fieldtype-intl-phone.hs-input input {
        width: 68% !important;
        float: right;
    }
}
@media screen and (min-width: 992px) {
    #section-form {
        background-color: transparent;
        text-align: inherit;
        padding-top: 4vh;
        padding-bottom: 4vh;
        /* display: flex; */
        display: block;
    }

    #section-form-responsive {
        display: none;
    }

    #close-form {
        display: none;
    }
}

/* Imagen Formulario Sample */

.img_formulario_home{
    width: 100%;
}