/* START SECTION REASONS
(CXO)
/***************************************************/
.text-reasons {
    flex: 1;
    padding: 20px;
}

.text-reasons i {
    font-size: 40px;
}

/* END SECTION REASONS */


/* START SECTION CAJAS-APRENDIZAJE
(CXO)
/***************************************************/
.item-journey {
    flex: 1;
}

.item-journey h3 {
    font-family: 'dinprobold';
    min-height: 100px;
}

/* END SECTION CAJAS-APRENDIZAJE */


/* START SECTION CERTIFICATE
(CXO)
/***************************************************/
.certificate {
    padding: 50px 0;
}

.certificate ul {
    margin-bottom: 0;
}

/* END SECTION CERTIFICATE */


/* START SECTION DIRECTOR, SECTION-PROFESORES
(CXO)
/***************************************************/
.name-instructor,
.cargo-instructor p {
    color: var(--black);
}

.name-instructor h3 {
    font-size: 20px;
    line-height: 2rem;
    margin: 0;
}

.img-faculty {
    width: 100%;
    object-fit: cover;
    max-width: 180px;
}

/* END DIRECTOR, SECTION-PROFESORES */


/* START SECTION ESTRUCTURA
(CXO)
/***************************************************/
.estructura {
    padding: 50px 0;
}

.estructura ul {
    margin-bottom: 0;
}

/* END SECTION ESTRUCTURA */


/* START SECTION ADMISSION-PROCESS
(CXO)
/***************************************************/
.description-admission {
    font-size: 26px;
}

/* END SECTION ADMISSION-PROCESS */


/* START SECTION MODULES, FAQS
STYLE ACCORDION
(CXO, OP) 
/***************************************************/
.accordion .accordion-item.accordion-no-bar {
    border-bottom: 1px solid var(--secundary);
    background-color: var(--white);
}

.accordion .accordion-item.accordion-no-bar span {
    color: var(--secundary);
    transition: all 200ms;
}

.button-slide {
    cursor: pointer;
}

.accordion {
    padding-bottom: 3%;
}

.accordion-wrap {
    min-height: auto;
    margin: auto;
}

.accordion-item {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 15px;
    border: none;
    border-radius: 0 !important;
    transition: all 200ms;
    border-bottom: 2px solid var(--primary);
}

.accordion-header {
    transition: ease-in-out 100ms;
    padding-left: 30px;
    display: flex;
    align-items: center;
    min-height: 72px;
}

p.accordion-header>span {
    flex: 95%;
}

p.accordion-header>i:nth-child(1) {
    text-indent: -30px;
    flex: 1%;
}

.accordion-text {
    width: 100%;
    display: none;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.fa {
    transition: ease-in-out 300ms;
}

.rotate-fa {
    transform: rotate(180deg);
}

.accordion-header .fa {
    float: right;
    line-height: 35px;
    color: var(--secundary);
}

.accordion-header-cxo .fa {
    float: right;
    line-height: 35px;
    color: var(--secundary);
}

.accordion-gold {
    color: #808080;
}

.accordion-no-bar {
    border-bottom: 0;
}

/* END SECTION SECTION MODULES, FAQS */

/* START SECTION EXPERTO
(OP)
/***************************************************/
.squares {
    bottom: -40px;
    left: -40px;
}

.experto img {
    max-width: 284px;
}

/* END SECTION EXPERTO */


/* START SECTION BANNER-FOOTER
(CXO, OP)
/***************************************************/
.banner-footer {
    padding-top: 130px;
    padding-bottom: 130px;
}

.banner-footer h2 {
    max-width: 800px;
    text-transform: none;
}

.banner-footer h3 {
    font-family: 'calibri-1';
    font-size: 30px;
}
/* END SECTION BANNER-FOOTER */


/* START SECTION STICKY-BOTTOM
(OP)
/***************************************************/
#btn-sticky-bottom .btn-third:hover {
    border: 2px solid var(--third);
    background-color: var(--third);
}

/* END SECTION STICKY-BOTTOM */


@media screen and (min-width: 576px) {
    .content-admission:nth-child(odd)::after {
        content: "";
        width: 2px;
        height: 40%;
        background-color: var(--primary);
        transform: translateY(20%);
        padding-right: 2px;
    }
}

@media screen and (min-width: 992px) {

    .reasons,
    .reasons-op {
        padding-top: 200px !important;
    }

    .cargo-instructor p {
        min-height: 140px;
    }

    .content-admission:not(:last-child)::after {
        content: "";
        width: 2px;
        height: 40%;
        background-color: var(--primary);
        transform: translateY(20%);
        padding-right: 2px;
    }

    .certificate .content-certificate {
        text-align: right;
    }

    .certificate,
    .estructura {
        padding: 80px 0;
    }
}

@media screen and (min-width: 1200px) {
    .cargo-instructor p {
        min-height: 50px;
    }
}

@media (max-width: 768px) {
    .banner-footer .botones-banner-footer a[role="button"] {
        margin: 0px 0px;
        margin-top: 20px;
    }
}
