.bg-img-cabecera {
    background-position: center;
    background-image: linear-gradient(287.22deg, rgba(0, 0, 0, 0) 45.23%, rgba(0, 0, 0, 0.5) 62.92%), url('/assets/img/general/Footer-ITAM.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-cabecera.typ .bold {
    font-size: 24px;
    line-height: 30px;
}
header .btn-third:hover {
    background-color: var(--third);
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

